<header class="site-header">
    <div class="header-top">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <h1>CSE Motors</h1>
                </div>
                <nav class="header-nav">
                    <ul class="nav-list">
                        <li><a href="#" class="nav-link">Sedan</a></li>
                        <li><a href="#" class="nav-link">SUV</a></li>
                        <li><a href="#" class="nav-link">Truck</a></li>
                    </ul>
                </nav>
                <div class="header-actions">
                    <button class="account-btn">My Account</button>
                </div>
            </div>
        </div>
    </div>
</header>