<nav class="main-navigation">
    <div class="container">
        <ul class="main-nav-list">
            <li class="nav-item active"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Sedan</a></li>
            <li class="nav-item"><a href="#">SUV</a></li>
            <li class="nav-item"><a href="#">Truck</a></li>
        </ul>
    </div>
</nav>